
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Executables
*.exe
*.out
*.app

# Folders
/Debug/*
/Snow/Debug/*

# Others
*.sdf
*.opensdf